<div class="row">
<form class="form-horizontal">
	<label for="filter">Search users</label>
	<input id="filter" ng-model="selectedUsers" class="form-control" />
</form>
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>User</th>
				<th>Admin status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users | filter : selectedUsers | orderBy: 'Username'">
				<td >{{user.Username}}</td>
				<td ng-if="user.isAdmin">Administrator</td>
				<td ng-if="!user.isAdmin"><a ng-click="makeAdmin()" class="btn btn-info btn-sm">Make admin!</a></td>
			</tr>
		</tbody>
	</table>
</div>