<div class="row">
	<div class="container col-md-offset-1 col-md-10">
		<form class="form-horizontal">
			<div class="col-md-10">
				<label for="filter">Search labels</label>
				<input id="filter" ng-model="filterCriteria" class="form-control" />
			</div>
			<div class="col-md-2">
				<a href="#/labels" class="btn btn-success margin-top-2em">Reset filters</a>
			</div>
		</form>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th class="col-sm-2">Id</th>
					<th class="col-sm-10">Label Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="label in labelsPerPage">
					<td>{{label.Id}}</td>
					<td>{{label.Name}}</td>
				</tr>
			</tbody>
		</table>
		<pagination total-items="totalLabels" ng-model="labelParams.pageNumber" items-per-page="labelParams.pageSize" ng-change="loadPagination()" max-size="9" boundary-links="true"></pagination>
		<div ng-if="filteredLabels.length == 0">No labels were found.</div>
	</div>
</div>