<div class="row">
	<h3>Add issue</h3>
	<form name="addIssueForm" class="form-inline">
		<legend>
			<a ng-if="currentProject" ng-href="#projects/{{currentProject.Id}}" class="btn btn-primary">Cancel</a>
			<a ng-if="!currentProject" ng-href="#/" class="btn btn-primary">Cancel</a>
			<button ng-if="isAdmin || isLead" class="btn btn-success" ng-disabled="addIssueForm.$invalid" ng-click="addIssue(issue)">Add!</button>
		</legend>
		<fieldset class="col-sm-12">
			<div class="form-group-sm col-sm-12">
				<label for="title" class="col-sm-5 control-label">Title</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" required="required" ng-model="issue.Title" id="title" />
				</div>
			</div>
			<div class="form-group-sm col-sm-12">
				<label for="description" class="col-sm-5 control-label">Description</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" required="required" ng-model="issue.Description" id="description" />
				</div>
			</div>
			<div class="form-group-sm col-sm-12">
				<label for="project" class="col-sm-5 control-label">ProjectId: {{issue.ProjectId}}</label>
				<div class="col-sm-7">
					<select id="project" class="form-control" ng-model="issue.ProjectId" ng-options="project.Id as project.Name for project in projects | orderBy : 'Name'" ng-change="updatePriorities(issue.ProjectId)">
					</select>
				</div>
			</div>
			<div class="form-group-sm col-sm-12">
				<label for="dueDate" class="col-sm-5 control-label">Due date:</label>
				<div class="col-sm-7">
					<input type="date" class="form-control" required="required" ng-model="issue.DueDate" id="dueDate" />
				</div>
			</div>
			<div class="form-group-sm col-sm-12">
				<label for="assigneeId" class="col-sm-5 control-label">Assignee (current Id: {{issue.AssigneeId}})</label>
				<div class="col-sm-7">
					<select id="assigneeId" class="form-control" ng-model="issue.AssigneeId" ng-options="user.Id as user.Username for user in users | orderBy : 'Username'">
					</select>
				</div>
			</div>
			<div class="form-group-sm col-sm-12">
				<label for="priority" class="col-sm-5 control-label">Priority</label>
				<div class="col-sm-7">
					<select id="priority" class="form-control" ng-model="issue.PriorityId" ng-options="priority.Id as priority.Name for priority in currentProject.Priorities">
					</select>
				</div>
			</div>
		</fieldset>
		<fieldset class="col-sm-12">
			<h7>Labels:</h7>
			<div ng-repeat="label in issue.Labels" class="control-label"><input type="text" class="form-control" required="required" ng-model="label.Name" /></div>
			<button class="btn btn-success btn-sm" ng-click="addNewLabel()">Add label</button>
			<button class="btn btn-danger btn-sm" ng-click="removeLabel()">Remove label</button>
			<div ng-if="issue.Labels.length == 0">No labels were found</div>
		</fieldset>
	</form>
</div>