<div class="row">
	Criteria:
	<input ng-model="filter" /> <a ng-click="reloadProjects()" class="btn btn-success btn-sm">Search!</a>
</div>
<div class="row">
<div ng-if="criteria=='none'">
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>Key</th>
				<th>Project Name</th>
				<th>Project Lead</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in projectsPerPage">
				<td>{{project.ProjectKey}}</td>
				<td>{{project.Name}}</td>
				<td>{{project.Lead.Username}}</td>
				<td><a ng-click="loadProjectById(project.Id)" class="btn btn-info">View</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="projects.length==0" class="box no-data">
No projects found.
</div>
<pagination total-items="totalProjects" ng-model="projectsParams.pageNumber" items-per-page="projectsParams.pageSize" ng-change="reloadProjects()" max-size="9" boundary-links="true"></pagination>
</div>
