<h3>My Issues</h3>
<div class="row">
	OrderBy:
	<input ng-model="orderBy" /> <a ng-click="reloadIssues()" class="btn btn-success btn-sm">Search!</a>
</div>
<div class="row">
	<table class="table table-striped table-hover ">
		<thead>
			<tr>
				<th>Issue</th>
				<th>Project</th>
				<th>Due Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="issue in issuesPerPage">
				<td><a ng-click="loadIssueById(issue.Id)", class="btn btn-link">{{issue.Title}}</a></td>
				<td><a ng-click="loadProjectByIssue(issue.Project.Id)", class="btn btn-link">{{issue.Project.Name}}</a></td>
				<td>{{issue.DueDate}}</td>
			</tr>
		</tbody>
	</table>

<div ng-if="totalIssues==0" class="box no-data">
No issues found.
</div>
<pagination total-items="totalIssues" ng-model="issuesParams.pageNumber" items-per-page="issuesParams.pageSize" ng-change="reloadIssues()" max-size="9" boundary-links="true"></pagination>
</div>